<h3>Color Picker</h3>

<label> R</label>
<input type="range" min="0" max="255" value="0" [(ngModel)]="rCode" (change)=toRgbCodeAndHexCode()>
<p>{{rCode}}</p>

<label> G</label>
<input type="range" min="0" max="255" value="0" [(ngModel)]="gCode" (change)=toRgbCodeAndHexCode()>
<p>{{gCode}}</p>

<label> B</label>
<input type="range" min="0" max="255" value="0" [(ngModel)]="bCode" (change)=toRgbCodeAndHexCode()>
<p>{{bCode}}</p>

<div [style.background-color]="rgbCode" style="width: 500px; height: 100px"></div>
<p>Hex Code: {{hexCode}}</p>
