<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
</head>
<body>
<h3> Danh sách blog</h3>
<a th:href="@{/create}">
    <p>Tạo mới blog</p>
</a>
<a th:href="@{/category}">
    <p>Quản lý danh mục</p>
</a>

<form>
    Tìm kiếm theo tên blog:
    <input name="search" type="text"/>
    <input type="submit" value="Tìm kiếm"/>
</form>
<br/>
<a th:href="@{/sorted-date-created}" clas="button">Sắp xếp theo ngày tạo blog</a>
<table>
    <thead>
    <td>STT</td>
    <td>Tên blog</td>
    <td>Ngày tạo</td>
    <td>Loại blog</td>
    <td>Sửa</td>
    <td>Xóa</td>

    </thead>
    <tr th:each="blog: ${blogs}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.dateCreated}"></td>
        <td th:text="${blog.category.category}"></td>
        <td><a th:href="@{/edit/__${blog.id}__}">Sửa</a></td>
        <td><a th:href="@{/delete/__${blog.id}__}">Xóa</a></td>
    </tr>
</table>

<div>
    <a th:if="${blogs.hasPrevious()}" th:href="@{'/blogs'(page=${blogs.number - 1})}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:if="${blogs.hasNext()}" th:href="@{'/blogs'(page=${blogs.number + 1})}">Next</a>
</div>
</body>
</html>