<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title</title>
</head>
<body>
<p>
    <a href="/bloglist">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form method="POST" th:action="@{/save}" th:object="${blog}">
    <table>
        <tr>
            <input type="hidden" th:field="*{id}"/>
        </tr>
        <tr>
            <td>Tiêu đề:</td>
            <td>
                <input type="text" th:field="*{headline}"/>
            </td>
        </tr><tr>
            <td>Nội dung:</td>
            <td>
                <textarea th:field="*{content}"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Tạo blog">
</form>
</body>
</html>